@import "tailwindcss";

@theme {
  --font-sans: var(--font-vazirmatn), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-brand-blue: #0f365b;
  --color-brand-gold: #c49a45;
}
